apiVersion: v1
kind: Service
metadata:
  name: payment-service
  labels:
    app: payment-service
spec:
  type: NodePort
  selector:
    app: payment-service
  ports:
  - protocol: TCP
    port: 3003
    targetPort: 3003
    nodePort: 30004
