apiVersion: v1
kind: Service
metadata:
  name: reservation-service
  labels:
    app: reservation-service
spec:
  type: NodePort
  selector:
    app: reservation-service
  ports:
  - port: 3002
    targetPort: 3002
    nodePort: 30002
    protocol: TCP
    name: http
