apiVersion: v1
kind: Service
metadata:
  name: catalog-service
  namespace: default
  labels:
    app: catalog-service
spec:
  type: NodePort
  selector:
    app: catalog-service
  ports:
  - port: 3005
    targetPort: 3005
    nodePort: 30050
    protocol: TCP
    name: http
